@use 'base/variables' as v;
@use 'base/mixins' as m;


.fondo {
    background-image: url(../img/Fondo-Web_1.jpg);
    background-repeat: repeat-y;
   height: 100%;
}

.flex {
    margin: 0 auto;
    @include m.tablet {
        width: 90%;
        @include m.flex(flex, row, space-between, center);
    
    }

    &__enlaces {
        
        @include m.flex(flex, column, space-between, center);
        margin-top: -2rem;
     
     
        
        @include m.tablet {
            @include m.flex(flex, row, space-between, center);
           width: 50%;
           margin-top: 0;
          }
        }

        &__imagen {
           
            @include m.flex(flex, column, space-between, center);

            @include m.tablet {
                display: unset;
                 
                }
        }
        
        &__logofoto {
           width: 50%; 
           padding-top: 2rem;
           
           @include m.tablet {
            max-width: 30%; 
           margin: 3rem 0 0 3rem;
            padding-top: 0;
           }
        }

      a {
          transition: 300ms;
          color: v.$negro;
          font-size: 1.3rem;
          margin-bottom: 1.5rem;

          
  
    @include m.tablet {
          font-size: 2rem;
      }

      &:hover {
          transform: scale(1.2);
      }
    }
}

.footer {
    @include m.flex(flex, column, space-between, center);
    &__imagen {
 margin-top: 2rem;
    }
}